<!DOCTYPE html>
<html lang="id">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Daftar Produk</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body class="daftar-produk-body">
    <%- include('layout/sidebar') %>
        <h1>Daftar Produk</h1>
        <div class="cart-container">
            <% produklist.forEach(produk=> { %>
                <div class="cart-item">
                    <img src="/img/<%= produk.foto %>" alt="Foto Produk" width="100">
                    <div class="cart-item-info">
                        <p><strong>Nama:</strong>
                            <%= produk.nama_produk %>
                        </p>
                        <p><strong>Harga:</strong>
                            <%= produk.harga %>
                        </p>
                        <p><strong>Stok:</strong>
                            <%= produk.stok %>
                        </p>
                    </div>
                    <div class="flex">
                        <!-- Tambahkan di sini -->
                        <form action="/pembelian/beli/<%= produk.id %>" method="POST" style="display:inline;">
                            <input type="hidden" name="jumlah" value="1">
                            <button type="submit" class="btn-beli-lebar">Beli</button>
                        </form>
                        <!-- Tombol keranjang tetap -->
                        <form action="/pembelian/keranjang/tambah/<%= produk.id %>" method="POST"
                            style="display:inline;">
                            <button type="submit" class="btn btn-cart">
                                <img src="/asset/add-cart.svg" alt="cart">
                            </button>
                        </form>
                    </div>
                </div>
                <% }); %>
        </div>
</body>

</html>